<h1>{{title}}</h1>
<p>Feliz Cumpleaños</p>
<a href="menu"> <button class="botonprueba1_1" value="1" name="1" type="submit">Jugador 1</button></a>
<a href="test1_2"><button class="botonprueba1_1" value="2" name="2" type="submit">Jugador 2</button></a>

<a href="test1_3"><button class="botonprueba1_1" value="3" name="3" type="submit">Jugador 3</button></a>

<a href="test1_4"><button class="botonprueba1_1" value="3" name="3" type="submit">Espectador</button></a>